/* generic */
.container {
    margin-top: 1rem;
}
a {
    color: #f2c200;
}
a:active,
a:hover {
    color: #FFDA44;
}
.btn-link {
    color: #000;
}
iframe { max-width: 100%;}

/* language-switcher */
.language-switcher { position: absolute; top: 0; right: 20%; background: #FFF; padding: 2px 5px; border-radius: 0 0 5px 5px;}
.language-switcher .item { padding: 1px; font-weight: bold; font-size: 1em;}
.language-switcher .item.active {}

/* jumbotron */
.jumbotron {
    background: url(image/OroVibe2019-hero.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}
.jumbotron h1 {
    font-family: monospace;
}
.jumbotron h1,
.jumbotron p {
    color: #FFF;
}
.jumbotron .lead {
    font-size: 2em;
}
.jumbotron .lead span {
    color: #f2c200;
}
.jumbotron .btn-primary {
    background-color: #f2c200;
    border-color: #FFDA44;
    color: #000;
}
.jumbotron .btn-primary:active,
.jumbotron .btn-primary:hover {
    background-color: #e1b200;
}
@media (min-width: 576px) {
    .jumbotron {
        padding: 10rem 4rem;
    }
}

/* bloc */
.bloc {
    padding: 2rem 0;
}
.bloc-description,
.bloc-reassurance {
    background-color: #ffb147;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0.04, #ffb147), color-stop(0.6, #fcb91d));
}
.bloc-map,
.bloc-footer {
    background: #ededed;
}

/* card */
.card-img {
    width: 8em;
}
.card-img-top {
    text-align: center;
    padding: 2rem;
    background: #FFF;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-img-top img {
    max-width: 100%;
    height: auto;
}
.bloc-reassurance .card-body {
    text-align: center;
}

/* content */
pre {
    background: #323232;
    color: #f2c200;
    padding: 1em 2em;
    border-left: 5px solid #f2c200;
}
.caret {
    color: #FFF;
    -webkit-animation: 1s blinking-caret step-end infinite;
    -moz-animation: 1s blinking-caret step-end infinite;
    -ms-animation: 1s blinking-caret step-end infinite;
    -o-animation: 1s blinking-caret step-end infinite;
    animation: 1s blinking-caret step-end infinite;
}

/* keyframes */
@keyframes blinking-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: #FFF;
    }
}

@-moz-keyframes blinking-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: #FFF;
    }
}

@-webkit-keyframes blinking-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: #FFF;
    }
}

@-ms-keyframes blinking-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: #FFF;
    }
}

@-o-keyframes blinking-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: #FFF;
    }
}
